 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Foodie JDS is a group of passionate foodies whose aim is to share the best food in London to every food lover out there to see!</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're an experienced Londoner or just planning to visit this amazing city for a few days, make sure to follow us to discover the most delicious treats. Stay hungry!</p>
                </div>
                <div class="col-lg-4">
                     <p>We also have experience working with a large range of businesses and restaurants including Papa Johns and Ole & Steen and many others. If you are interested check our different services above.
                </div>
            </div>
        </div>
    </section>
